/* This stylesheet is used for styling things.
   It defines what things look like, but not where they are. */

/* Color definitions */

:root {
    /* --accent-color: #74cacf; */
    --accent-color: #99af64;
    --link-color: #444e2c;
    --link-color-dark: #202512;

    --console-background: #080808;
    --console-text: #dedede;
    --console-soft: #777777;
    --console-highlight: #99bb63;
}

/* General styling */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url(assets/noise.png) repeat, var(--accent-color);
}

div#console {
    font-family: 'Source Code Pro', monospace;
}

/* Links */
a:hover {
    color: var(--link-color-dark);
}

a {
    color: var(--link-color);
    cursor: pointer;
}

a.active {
    color: var(--accent-color-dark);
}

/* Loading indicator */

div.loading {
    padding-top: 1em;
}

img.loading {
    width: 100px;
}

/* Refresh indicator */

div.refresh {
    display: flex;
    align-items: center;
}

img.refresh {
    margin-left: 0.5em;
}

/* Empty states */
.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

/* Lists */

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-bottom: 0.2em;
}

/* console */

div#console {
    color: var(--console-text);
    background: url(assets/noise.png) repeat var(--console-background);
}

div#input {
    border-top: solid 1px var(--console-soft);
}

p.console-line {
    margin: 0;
}

span.console-line {
    white-space: pre-wrap;
}

.console-line.me {
    color: var(--console-highlight);
}

.console-line.meta {
    font-weight: bold;
}

/* input */
input#console-input {
    width: 100%;
    background-color: var(--console-background);
    color: var(--console-text);
    border: none;
    outline: none;
    font-family: 'Source Code Pro', monospace;
    caret-color: var(--console-soft);
    caret-shape: block;
}

input#console-input:focus {
    border: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--console-background);
}

::-webkit-scrollbar-thumb {
  background: var(--console-soft);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--console-text);
}

/* sidepane */
div#sidepane {
    background: url(assets/noise.png) repeat, var(--accent-color);
    padding-left: 30px;
    padding-right: 30px;
    font-size: x-small;
}

div#sidepane.none {
    background: transparent;
}

div#sidepane-buttons button {
    color: var(--console-text);
    background: rgba(0, 0, 0, 0.4);
    border: 0;
}

div.none div#sidepane-buttons button {
    color: var(--console-background);
    background: rgba(255, 255, 255, 0.4);
}

div#sidepane-buttons button:hover {
    background: rgba(0, 0, 0, 0.7);
}

div.none div#sidepane-buttons button:hover {
    background: rgba(255, 255, 255, 0.7);
}

/* manual */

div.colist > ol {
    counter-reset: list;
    margin-left: -10px;
}

div.colist > ol > li {
    list-style: none;
    position: relative;
}
div.colist > ol > li:before {
    counter-increment: list;
    content: "(" counter(list, decimal) ") ";
    position: absolute;
    left: -1.4em;
}

div#manual dl {
    display: flex;
    flex-direction: row;
}

div#manual dt {
    font-weight: bold;
    width: 50px;
}

div#manual dd {
    width: calc(100% - 50px);
}

div#manual dd > p {
    padding: 0;
    margin: 0;
}

div#manual pre {
    background: url(assets/noise.png) repeat var(--console-background);
    padding: 10px;
    color: var(--console-text);
}